html, body{
    width: 100vw;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cab{
    width: 100%;
    height: 10%;
    background-color: rgb(0, 53, 0);
}
.corpo{
    width: 100%;
    height: 90%;
    display: flex;
    gap: 20px;
}
.inf{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.selecao{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: green;
    align-items: center;
    padding-top: 50px;
}
h2{
    font-size: 50px;
}
.botao{
    width: 40%;
    height: 10%;
    background-color: yellow;
    border-radius: 20px;
}
